.ceremony .map__container {
  padding-top: 1.25em;
}

.ceremony .map__container iframe {
  width: 600px;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .ceremony .map__container iframe {
    width: 90vw;
    height: 60vw;
  }
}
