.registry {
  text-align: center;
}

.registry .registry__item {
  display: inline-block;
  margin: 0 20px;
}

.registry .registry__image {
  max-width: 20vw;
}

@media only screen and (max-width: 768px) {
  .registry .registry__item {
    display: block;
    margin: 0;
  }

  .registry .registry__image {
    max-width: 90vw;
  }
}
